<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-light" style="background-color: #e3f2fd; margin-bottom: 25px">
            <!--/*@thymesVar id="fullName" type="java.lang.String"*/-->
            <span class="navbar-text text-info" th:text="'Chào bạn: ' + ${fullName}">
            </span>
            <form class="form-inline my-2 my-lg-0" id="form-select-user">
                <label for="selectUsers" class="text-primary mr-2">Chat With User</label>
                <select class="form-control mr-2" id="selectUsers">
                </select>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <a href="/logout" sec:authorize="isAuthenticated()">Logout</a>
        </nav>


        <div class="fabs-chatbox">
            <div class="row rounded-lg overflow-hidden shadow" id="chatbox">
                <!-- Users box-->
                <div class="col-5 px-0" id="chatChannel">
                    <div class="bg-white">

                        <div class="bg-gray px-4 py-2 bg-light">
                            <p class="h5 mb-0 py-1">Recent</p>
                        </div>

                        <div class="messages-box">
                            <div class="list-group rounded-0" id="box-recent">

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Chat Box-->
                <div class="col-7 px-0">
                    <div class="px-4 py-5 chat-box bg-white" id="messages">

                    </div>

                    <!-- Typing area -->
                    <form action="#" class="bg-light" id="form-send-message">
                        <div class="input-group">
                            <input id="content-message" type="text" placeholder="Type a message" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light">
                            <div class="input-group-append">
                                <button id="btn-send-message" type="submit" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <button id="btn-show-chatbox" class="btn btn-info btn-circle btn-circle-xl m-1"><i class="fa fa-paper-plane"></i></button>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/sockjs.min.js}"></script>
    <script th:src="@{/js/stomp.min.js}"></script>
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</body>
</html>