<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
    <a th:href="@{/login?lang=en}">EN</a> | <a th:href="@{/login?lang=vi}">VN</a>
    <form method="post" th:action="@{/login}" th:object="${user}">
        <label>
            <input type="text" th:placeholder="#{messages.userName}" th:field="*{userName}">
            <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="error"></span>
        </label><br>
        <label>
            <input type="password" th:placeholder="#{messages.password}" th:field="*{password}">
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></span>
        </label><br>
        <button type="submit"><th:block th:text="#{messages.signIn}"/></button>
    </form>
    <span th:if="${loginFailed != null}" th:text="#{messages.loginFailed}"></span>
    <span th:if="${hello_userName != null}" th:text="#{messages.hello} + ' ' + ${hello_userName}"></span>
</body>
</html>


